{:lein true

 :nrepl {:port 8777}

 :source-paths ["src"]

 :dependencies []

 :dev-http {8280 "dev/resources/public"
            8290 "target/browser-test"}

 :builds
 {:app {:target :browser
        :output-dir "dev/resources/public/js/compiled"
        :asset-path "/js/compiled"
        :modules {:app {:init-fn app.core/init}}
        :devtools {:preloads [re-frame-flow.preload]}
        :dev {:compiler-options
              {:closure-defines {re-frame-flow.trace.dispatch-enabled? true}}}}}}
